* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 9.55px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img,
.fice img {
    width: 60vmin;
    height: auto;
}

.container {
    margin-left: 50px;
    display: flex;
    gap: 150px;
}

.main-title {
    margin: 80px;
}

.main-title h1 {
    text-align: center;
    font-size: 2.5rem;
}

.authors {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
}

.content {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    font-weight: 1.5;
}

.left-column,
.right-column {
    width: 45%;
}

.left-column h3,
.right-column h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.left-column p,
.right-column p {
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 19.1px;
}

p.email {
    color: rgb(63, 124, 216);
}

.triangulo {
    display: inline-block;
    right: 0;
    position: absolute;
    margin-right: 0;
    width: 192px;
    height: 28.65px;
    border-top: 0px solid transparent;
    border-bottom:  47.75px solid transparent;
    border-right: 1824px solid rgb(44, 158, 3);
    border-bottom-left-radius: 10%;
    transform: rotate(0.5deg);
}

.triangulo-abaixo {
    display: inline-block;
    position: absolute;
    margin-top: 38.4px;
    right: 0;
    margin-right: 0;
    width: 192px;
    height:  28.65px;
    border-top: 0px solid transparent;
    border-bottom: 28.65px solid transparent;
    border-right: 1632px solid rgb(30, 105, 2);
    border-bottom-left-radius: 10%;
    transform: rotate(2deg);
}

.triangulo2 {
    width: 0;
    padding: auto;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 28.65px solid transparent;
    border-left: 1632px solid rgb(30, 105, 2);
    transform: rotate(2deg);
}

.triangulo-abaixo2 {
    display: inline-block;
    width: 1px;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 38.2px solid transparent;
    border-left: 1824px solid rgb(44, 158, 3);
    transform: rotate(0.5deg);
}
.grafico{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.grafico img{
    width: 100%;
}
